<!-- MENU -->
<div class="header">
	<div class="navbar navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Mostrar navegación</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="row">
					<div class="col-md-2">
						<img class="usaria-logo" src="./images/logo-usaria.png">
					</div>
					<div class="col-md-2">
						<img class="uxalliance-logo" src="./images/logo-uxalliance.png">
					</div>
					<div class="col-md-8 custom-nav">
						<div class="collapse navbar-collapse" id="js-navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#/">INICIO</a></li>
								<li><a ng-href="#/about">UX-PM</a></li>
								<li><a ng-href="#/">PROGRAMA</a></li>
								<li><a ng-href="#/about">OTROS CURSOS</a></li>
								<li><a ng-href="#/">SEPARA TU LUGAR</a></li>
								<li><a ng-href="#/about">ACERCA DE</a></li>
								<li><a ng-href="#/">CONTACTO</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- INICIO -->
<div class="jumbotron inicio-jumbotron add-margin">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<h2 class="inicio-title">UX-PM: El primer programa de certificación internacional en UX</h2>
				<h4>Obtén los conocimientos necesarios en UX para administrar tus proyectos. <img src="./images/hearth.fw.png" /></h4>
			</div>
			<div class="col-md-3">
				<img id="logo-uxpm" src="./images/logo-uxpm.fw.png" />
			</div>
			<div class="col-md-12">
				<button class="white-button-blue-text">
					Conoce más
				</button>
			</div>
		</div>
		<div class="inicio-data row">
			<div class="col-md-3 col-md-offset-1">
				<div class="inicio-data-container">
					<img src="./images/watch.fw.png" />
					<p>+ 2,000 hrs</p>
				</div>
				<p>de capacitación impartidas</p>
			</div>
			<div class="col-md-2">
				<div class="inicio-data-container">
					<img src="./images/person.fw.png" />
					<p>+ 7</p>
				</div>
				<p>años de experiencia</p>
			</div>
			<div class="col-md-3">
				<div class="inicio-data-container">
					<img src="./images/book.fw.png" />
					<p>+ 2,500 hrs</p>
				</div>
				<p>personas capacitadas</p>
			</div>
			<div class="col-md-3">
				<div class="inicio-data-container">
					<img src="./images/medal.fw.png" />
					<p>Avalado</p>
				</div>
				<p>por UXAlliance</p>
			</div>
		</div>
	</div>
</div>

<!-- UXPM  -->
<div class="jumbotron uxpm-jumbotron">
	<div class="uxpm-section container-fluid">
		<div class="row">
			<div class="col-md-7">
				<h2 id="uxpm-title">¿Qué es la certificación UX-PM (UX FOR PROJECT MANAGERS)?</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h4>Es un programa de capacitación avalado por UXAlliance y sus empresas afiliadas. Al concluir el programa los asistentes:</h4>
			</div>
		</div>
		<div id="uxpm-content-container"class="row">
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-1">
						<div class="uxpm-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Comprenderán la importancia de contar con un enfoque centrado en el usuario para el diseño de productos y servicios.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
						<div class="uxpm-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Conocerán qué herramientas y métodos UX son útiles para mejorar la calidad de un producto y la eficiencia de los procesos.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
						<div class="uxpm-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Contarán con los fundamentos para decidir dónde y cuándo hacer inversiones UX y cómo evaluar el impacto de esas inversiones.</p>
					</div>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="row">
					<div class="col-md-1">
						<div class="uxpm-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Adquirirán los conocimientos para iniciar, ejecutar y liderar proyectos y programas UX.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
						<div class="uxpm-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Entenderán cómo integrar el diseño centrado en el usuario en una organización para maximizar el éxito de sus proyectos y para diferenciar sus productos.</p>
					</div>
				</div>
				<img id="uxpm-certification-notice-img" src="./images/certification-notice.fw.png" />
			</div>
		</div>
	</div>
</div>

<!-- PROGRAMA -->
<div class="jumbotron programa-jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5">
					<h2 id="programa-title">el programa consta de trés módulos</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<img class="module-image" src="./images/first-module.fw.png" />
					<div class="row">
						<div class="col-md-10">
							<p class="module-text">
								Conocer los fundamentos de User eXperience ( UX ). Convencer a la organización sobre la importancia de incluir UX en los proyectos
								de diseño de servicios y productos digitales.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img class="module-image" src="./images/second-module.fw.png" />
					<div class="row">
						<div class="col-md-10">
							<p class="module-text">
								Comprender cómo incorporar métodos de UX. Aprender a planear, adminsitrar y monitorear actividades de UX en las diferentes
								etapas de un proyecto.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<img class="module-image" src="./images/third-module.fw.png" />
					<div class="row">
						<div class="col-md-10">
							<p class="module-text">
								Definir una estrategia para integrar UX para clientes y el negocio estableciendo indicadores clave de desempeño.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<!-- BARRA MORADITA -->
<div class="jumbotron purple-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<h3>Duración: <br> 48 horas</h3>
				<div class="purple-line"></div>
				<p class="purple-text">16 horas por módulo.</p>
			</div>
			<div class="col-md-3">
				<h3>Teoría <br> aplicada</h3>
				<div class="purple-line"></div>
				<p class="purple-text">Basada en lecturas y casos reales.</p>
			</div>
			<div class="col-md-3">
				<h3>Enfoque <br> práctico</h3>
				<div class="purple-line"></div>
				<p class="purple-text">1 proyecto a través de todo el programa.</p>
			</div>
			<div class="col-md-3">
				<h3>Exámenes parciales y de certificación</h3>
				<div class="purple-line"></div>
				<p class="purple-text">Se realizan exámenes parciales y uno al final para obtener el certificado avalado por UXAlliance.</p>
			</div>
		</div>
	</div>
</div>

<!-- otros cursos -->
<div id="big-container">
	<div class="jumbotron otros-cursos-jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5">
					<h2 class="otros-cursos-title">¿no te sientes listo para certificarte?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a class="otros-cursos-link" href="#/">contamos con otros cursos abiertos y bajo demanda > </a>
					<p class="otros-cursos-text">
						Compartimos nuestro conocimiento y aprendizajes en temas de usabilidad, diseño centrado en el usuario ( UX ),
						arquitectura de información, diseño de interfaces, accesibilidad y diseño de servicios.
					</p>
					<p class="otros-cursos-text">
						Tenemos relación cercana con importantes instituciones educativas y membresía en diferentes asociaciones especializadas.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="workshop-img-container">
		<img class="otros-cursos-img" src="./images/workshop-image.fw.png" />
	</div>
</div>


<!-- BARRA VERDE -->
<div class="jumbotron green-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<img src="./images/graduate-hat.fw.png" />
				<h2 class="green-title">
					el programa de certificación UX-PM se ofrece bajo demanda. ¡ se parte de una de las generaciones y conviértete en un experto avalado
					por ux alliance!</h2>
					<button class="white-button-green-text">SEPARA TU LUGAR</button>
				</div>
			</div>
		</div>
</div>

<!-- ACERCA DE USARIA -->
<div class="jumbotron usaria-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3 class="usaria-title">acerca de usaria</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<p class="usaria-subtext">Creamos experiencias positivas para quienes interactúan con la tecnología.</p>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<p class="usaria-text">Estudiamos esta relación y la hacemos simple, natural e intuitiva.</p>
				<p class="usaria-text">
					Logramos que las empresas sean más productivas y rentables, asegurando la satisfacción de sus usuarios en el uso de sistemas
					interactivos eficientes y sencillos.
				</p>
				<p class="usaria-text">Operamos en México y Colombia, y a través de aliados estrategicos en Latinoamérica y España.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" style="text-align: right">
				<a class="otros-cursos-link">conoce más ></a>
			</div>
		</div>
	</div>
</div>

<!-- INSTRUCTORES UXPM -->
<div class="jumbotron instructores-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<h2 class="instructores-title">sobre los instructores de UX-PM</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="instructores-data row">
					<div class="col-md-1">
						<div class="instructores-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Tendrás instructores nacionales y extranjeros.</p>
					</div>
				</div>
				<div class="instructores-data row">
					<div class="col-md-1">
						<div class="instructores-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Todos son parte de UXalliance.</p>
					</div>
				</div>
				<div class="instructores-data row">
					<div class="col-md-1">
						<div class="instructores-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Todos cuentan con más de 10 años de experiencia en proyectos de UX nacionales e internacionales.</p>
					</div>
				</div>
				<div class="instructores-data row">
					<div class="col-md-1">
						<div class="instructores-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Todos han dirigido empresas y equipos de UX.</p>
					</div>
				</div>
				<div class="instructores-data row">
					<div class="col-md-1">
						<div class="instructores-small-green-line"></div>
					</div>
					<div class="col-md-11">
						<p>Todos cuentan con publicaciones y libros relacionados con el tema.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- FORMA DE CONTACTO -->
<div class="jumbotron contacto-jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h2 class="contacto-title">regístrate</h2>
				<p class="contacto-text"><strong>¿Interesado?</strong> Si quieres formar parte de una de nuestras generaciones de certificación UX-PM escríbenos y
					nos pondremos en contacto contigo.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-5">
					<input class="contacto-input" type="text" placeholder="Nombre*" />
					<input class="contacto-input" type="number" placeholder="Teléfono" />
					<input class="contacto-input" type="text" placeholder="Correo electrónico" />
					<input class="contacto-input" type="text" placeholder="Profesión" />
				</div>
				<div class="col-md-5 col-md-offset-2">
					<input class="contacto-input"  type="text" placeholder="Ciudad" />
					<input class="contacto-input"  type="text" placeholder="País" />
					<input class="contacto-input"  type="text" placeholder="Empresa" />
					<textarea class="contacto-textarea"  type="text" placeholder="Comentarios" maxlength="140" rows="4"></textarea>
				</div>
				<div class="col-md-12" style="text-align: right">
					<button class="blue-button-white-text">enviar</button>
				</div>
			</div>
		</div>
</div>

<!-- FOOTER -->
<div class="jumbotron footer-jumbotron">
	<div class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h2 class="footer-title">Contacto</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<p class="footer-direction-title">Monterrey, NL.</p>
					<p class="footer-direction-text">
						Blvd. Díaz Ordaz #130 Piso 10, Col. Santa María, Monterrey, NL.
					</p>
					<p class="footer-direction-text">
						Tel. +52 ( 81 ) 8851-82-33
					</p>
				</div>
				<div class="col-md-3">
					<p class="footer-direction-title">Colombia</p>
					<p class="footer-direction-text">
						Calle 93 # 11 a - 28 Oficina 601 Bogotá, Distrito Capital.
					</p>
					<p class="footer-direction-text">
						Tel. +57 ( 1 ) 756-05-32
					</p>
				</div>
				<div class="col-md-5">
					<p class="footer-direction-title">ciudad de méxico</p>
					<p class="footer-direction-text">
						Av. Insurgentes Sur 1647, Col. San José Insurgentes Del. Benito Juárez, C.P. 03900, México, D.F.
					</p>
					<p class="footer-direction-text">
						Tel. +52 ( 55 ) 8000-81-15
					</p>
				</div>
			</div>
			<div class="row" style="margin-top: 35px">
				<div class="col-md-12" style="text-align: center">
					<p class="footer-direction-text">
						Usaria, consultoría en usabilidad y experiencia de usuario. Derechos Reservados 2011.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
